/* Importación de la fuente */
@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo del documento */
body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.logo {
    width: 90px;
    height: 70px;
}

.header-text h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.header-text p {
    font-size: 0.9rem;
    color: #777;
    font-weight: 200;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Estilos principales */
main {
    flex: 1;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    padding: 300px;
    position: absolute;
    bottom: -100px;
    z-index: 2;
}

.welcome h2 {
    font-size: 1.5rem;
    color: #252525;
}

/* Estilos de la sección "about" */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 40px 20px;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
}

.about-image-2 {
    width: 600px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url()cover no-repeat;
}

.about-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.about-text h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 200;
}

/* Estilos del pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    font-weight: 700;
}

footer nav a {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
    font-weight: bold;
    font-size: 0.8rem;
}

/* Estilos de la swiper */
.swiper-container {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para la página de proyectos */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 20px;
    margin: 50px auto;
    max-width: 1200px;
}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 200px; 
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
    opacity: 1;
}

.project-info {
    color: white;
    text-align: center;
}

.project-info h3 {
    font-size: 1.2rem;
    margin: 0;
}

/* Estilos para la página de contacto */
.contacto-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    position: relative;
    gap: 20px;
}

.contacto-imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.contacto-text-p {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    margin: 50px;
}

.contacto-text-p p {
    font-size: 1rem;
    margin: 0;
}

.contacto-text-p a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contacto-text-p a:hover {
    text-decoration: underline;
}

@keyframes scale-up {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
    
.contacto-card {
    border-radius: 10px;
    height: 300px;
    width: 550px;
    background: url()cover no-repeat;
    transition: transform 1s ease-in-out;   
}

.contacto-card:hover {
    width: 1100px;
    height: 600px;
    animation: scale-up 1s forwards;
}

/* Estilos de texto */
.titulo-text {
    width: 55%;
    margin: 20px;
}

.titulo-text h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.titulo-text p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Media queries para tamaños de pantalla específicos */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .logo {
        height: 50px;
    }

    .header-text h1 {
        font-size: 1.2rem;
    }

    .header-text p {
        font-size: 0.8rem;
    }

    nav a {
        font-size: 0.8rem;
        margin-left: 10px;
    }

    .welcome {
        padding: 50px;
        margin: 10px;
    }

    .about-content {
        flex-direction: column;
        margin-right: 20px;
    }

    .about-image-2,
    .about-text {
        width: 100%;
        margin: 10px ;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 20px;
        margin-right: 20px;
    }

    .contacto-text-p {
        margin: 20px;
    }

    .contacto-card {
        width: 100%;
        height: auto;
    }

    .titulo-text {
        width: 80%;
    }

    .titulo-text h2 {
        font-size: 1.2rem;
    }

    .titulo-text p {
        font-size: 0.9rem;
    }

    .modal-description{
        margin: 20px;
        margin: auto;
    }
}
/* Estilos para el modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
    justify-content: center;
  }
  
/* Estilo para el modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 50px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* Estilo para el texto descriptivo */
.modal-description {
    margin: auto;
    margin: 25px;
    max-width: 700px;
    color: #ccc;
    text-align: center;
    font-size: 16px;
  }
  